@import 'tailwindcss';


.content-area {
    width: 82%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.content-form {
    width: 70%;
    margin-left: 15%;
    background-color: #F3F4F6;
    border: 2px solid #D1D5DB;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.content-form input {
    border-radius: 5px;
    width: 90%;
}

.contetnt-data {
    width: 82%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}