@import 'tailwindcss';

.header-navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #1F2937;
    padding: 10px 20px;
}

.header-navbar a{
    color: #F9FAF6;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.header-navbar a:hover {
    color: #A16207;
}


