@import 'tailwindcss';

.profile-bar-collapse {
    width: 200px;
    background-color: #1F2937;
    height: 100vh;
    top: 60px;
    padding-top: 20px;
    z-index: 30;
    right: 0;
    position: fixed;
}

.profile-bar-collapse tr {
    padding: 0;
    margin: 0;
    list-style: none;

}

.profile-bar-collapse td{
    background-color: #1F2937;
    width: 100%;
    padding: 1.5em;
}

.profile-bar-collapse tr{
    color: #F9FAF6;
    text-decoration: none;
    margin: 15px 0;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    height: 3em;

}

.profile-bar-collapse tr:hover td{
    background-color: #A16207;
    color: #1F2937;
}

.profile-bar-collapse td:hover i{
    color: #F9FAF6;
}

.profile-bar-collapse tr:last-child td{
    column-span: 2;
}

.profile-bar-collapse tr:last-child:hover td{
    background-color: #3B82F6;
    color: #A16207;
}

.profile-bar-collapse tr:last-child a{
    background-color: #1F2937;
    color: #F9FAF6;
}

.profile-bar-collapse tr:last-child:hover a{
    background-color: #3B82F6;
    color: #1F2937;
}

.profile-bar-collapse td:last-child:hover i{
    color: #F9FAF6;
}

.profile-bar-collapse h2 {
    color: #F9FAF6;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.profile-bar-collapse i {
    margin-right: 10px;
    font-size: 1.2em;
    color: #A16207;
}