@import 'tailwindcss';

.side-nav-collapse {
    width: 18%;
    background-color: #1F2937;
    height: 100vh;
    float: left;
    padding-top: 20px;
    
}

.side-nav-collapse ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

.side-nav-collapse li{
    background-color: #1F2937;
    display: block;
    width: 100%;
    padding: 1.5em;
}

.side-nav-collapse li a:hover{
    background-color: #A16207;

}

.side-nav-collapse li a{
    color: #F9FAF6;
    text-decoration: none;
    margin: 15px 0;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    height: 3em;

}

.side-nav-collapse li:hover {
    background-color: #A16207;
}

.side-nav-collapse li:hover a{
    color: #1F2937;
}

.side-nav-collapse li:hover i{
    color: #F9FAF6;
}

.side-nav-collapse h2 {
    color: #F9FAF6;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.side-nav-collapse i {
    margin-right: 10px;
    font-size: 1.2em;
    color: #A16207;
}

.side-nav-collapse span {
    vertical-align: middle;
    color: #F9FAF6;
}

.side-nav-collapse span:hover {
    vertical-align: middle;
    color: #A16207;
}